version: '3.8'

services:
  # ----------------------------------------
  # WRITE MODEL DATABASE (PostgreSQL)
  # ----------------------------------------
  postgres-db:
    image: postgres:15-alpine
    container_name: cqrs-postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: command_db
    ports:
      - "5432:5432"
    volumes:
      # Mapeamento com caminho absoluto do Windows (Use aspas por causa dos espaços)
      # Adicionei '/postgres' ao final para isolar os dados desse banco
      - "D:/CQRS/Book Manager/Book-Manager/database/postgres:/var/lib/postgresql/data"
    networks:
      - cqrs-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d command_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ----------------------------------------
  # READ MODEL DATABASE (MongoDB)
  # ----------------------------------------
  # Incluí o Mongo caso você suba a infra completa, já com o caminho correto
  mongo-db:
    image: mongo:6.0
    container_name: cqrs-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: user
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    volumes:
      # Adicionei '/mongo' ao final para isolar os dados
      - "D:/CQRS/Book Manager/Book-Manager/database/mongo:/data/db"
    networks:
      - cqrs-net

  # ----------------------------------------
  # MESSAGE BROKER (RabbitMQ)
  # ----------------------------------------
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: cqrs-rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
       # Persistência das filas e mensagens (opcional, mas recomendado)
       - "D:/CQRS/Book Manager/Book-Manager/database/rabbitmq:/var/lib/rabbitmq"
    networks:
      - cqrs-net
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ----------------------------------------
  # APPLICATION (Command Microservice)
  # ----------------------------------------
  command-service:
    build: .
    container_name: bm-command-service
    depends_on:
      postgres-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/command_db
      SPRING_RABBITMQ_HOST: rabbitmq
    ports:
      - "8080:8080"
    networks:
      - cqrs-net

networks:
  cqrs-net:
    driver: bridge